<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{> page/title}}</title>
    <link rel="stylesheet" type="text/css" href="./querystyle.css">
    <script src="//d3js.org/d3.v4.min.js"></script>
    <script src="//d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="./tsne.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
    <!--link rel="import" href="./search.html"-->
    <link rel="import" href="./vis.html">
    <script src="./lib/helpers.js"></script>
</head>
<body>

    {{{body}}}

    {{! Only needs the Handlebars Runtime, because the exposed templates are precompiled. }}
    
    <script>
        (function () {
            var revive    = Handlebars.template,
                templates = Handlebars.templates = Handlebars.templates || {};
          {{#templates}}
            templates['{{{name}}}'] = revive({{{template}}});
          {{/templates}}
        }());
    </script>
    
</body>
</html>