/* reset css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 13px;
    border: 1px;
    width: 100%;
    table-layout: fixed;
}


/* reset css end */

body {
    background: lightgray;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    /*margin-left: 1px;
    margin-right: 1px;*/
}

fieldset {
    display: inline-block;
    border: 1px #af3333 solid;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

svg {
    background: white;
    border: 1px solid;
}

div.tooltip {
    position: absolute;
    text-align: left;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}

th,
td {
    text-align: left;
    font: 15px sans-serif;
}


/* grid setting */

.grid1 {
    margin: 0 0 0 0;
    border: 2px solid #CCC;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: [col1] 0.5fr [col2] 0.5fr [colend];
    grid-template-rows: [row1] auto [row2] auto [rowend];
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 100%;
}

.grid2{
    background-color: lightgray;
    margin: 0 0 0 0;
    display: grid;
    grid-gap: 1px;
    grid-column: col1 / col2;
    grid-row: row2 / rowend;
    grid-template-columns: [scol1] 0.5fr [scol2] 0.5fr [scolend];
    grid-template-rows: [srow1] fit-content(50%) [srow2] fit-content(50%) [srowend];
}

.menu {
    padding: 5px;
    grid-column: col1 / colend;
    grid-row: row1 / row2;
}

.overview {
    grid-column: scol1 / scol2;
    grid-row: srow1 / srow2;
}

.postview {
    grid-column: scol2 / scolend;
    grid-row: srow1 / srow2;
}

.detailview {
    grid-column: scol1 / scolend;
    grid-row: srow2 / srowend;
}

.userview {
    grid-column: col2 / colend;
    grid-row: row2 / rowend;
}

.query,
.summary {
    margin: 5px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    border: 1px solid;
}

.detailview {
    overflow-y: scroll;
    color: #444;
    background-color: white;
    border: 5px solid #444;
}

tr,
th,
td {
    margin: 1px;
    border: 1px dashed;
    padding: 5px;
}


/*****************************************************/

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}


/**************************************Loading effect*/

.wrapperloading {
    position: relative;
    height: 200px;
    width: 200px;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -100px;
}

.wrapperloading .loading.down {
    position: relative;
    height: 100px;
    width: 100px;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
    border-radius: 150px;
    border: 3px solid lightsteelblue;
    border-left-color: lightsteelblue;
    border-top-color: rgb(75, 75, 124);
    border-bottom-color: #0080FF;
    border-right-color: lightsteelblue;
    -webkit-animation: rotation 1s linear infinite;
    -moz-animation: rotation 1s linear infinite;
    -o-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/**************************************Loading effect*/